/* pokemonsComponent's private CSS styles */
.pokemons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 3em;
}

.pokemon {
  margin: 3em 3em 0 3em;
  border: 1px solid black;
  border-radius: 5%;
  padding: 3em;
  background-color: rgba(100, 149, 237, 0.2);
  position: relative;
}

.modifiedBgColor {
  background-color: rgba(100, 149, 237, 0.7);
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  text-align: center;
  font-size: 2em;
}

h2.basicTitle {
  font-size: 3em;
  font-family: cursive;
  animation: text-animation 3s ease-in alternate;
}

@keyframes text-animation {
  0%   {
    opacity: 0;
    color: transparent;
  }
  
  100% {
    opacity: 1;
    color: black;
  }
}

.pokeId {
  text-align: left;
  font-size: 2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.favoriteIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
}

.soundIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 30px;
  width: 30px;
}

.slider {
  -webkit-animation: slide-my-poke 5s, bounce 5s;
  animation: slide-my-poke 3s forwards;
  position: relative;
  width: 100px;
  height: 100px;
}

@keyframes slide-my-poke {
  0% {
    left: 0;
  }
  100% {
    left: 600px;
  }
}

.titleContainer {
  /* flexbox */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-right: 10%
}

